body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

* {
  font-family: sans-serif;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 2rem;
  padding-bottom: 0;
  text-align: left;
}

label {
  font-size: medium;
  font-weight: bold;
}

input {
  background-color: greenyellow;
  color: black;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: large;
  font-weight: light;
}

button {
  margin-top: 1.5rem;
  max-width: 50%;
  padding: 1rem;
  font-size: large;
  font-weight: bold;
  background-color: limegreen;
  border: 1px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
}